<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <!-- Windows Authentication, как в OPC_CFGCS.adp -->
    <add name="OpcConfig"
         connectionString="Data Source=ULGES-SQL2;Initial Catalog=OPC_Config;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
